<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
<header>
    <h1 class="h47"><a href="{{ path('main') }}"></a><img src="{{ asset('img/logo-eni.png') }}" alt="Series!"> </h1>
</header>
{% block body %}
<form class="h45" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <label for="inputEmail">Identifiant</label>
    <input class="input100" type="email" value="{{ last_username }}" name="mail" id="inputEmail" class="form-control" autocomplete="mail" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input class="input100" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input  type="checkbox" name="_remember_me" id="_remember_me"> <label class="input100" for="_remember_me">Se souvenir de moi</label>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="button2" type="submit">
        S'identifier
    </button>
    <div class="mb-4">
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
{% endblock %}
