{% extends 'base.html.twig' %}

{% block title %}MonProfil{% endblock %}

{% block javascripts %}
{#    <script>#}
{#        alert("Vous etes sur la page accueil connecté");#}


{#    </script>#}
    <script src="{{ asset('setEtat.js') }}"></script>
{% endblock %}

{% block body %}
{#  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}

<div class="h46">
    <h1>Hello {{ parent() }}! Mon profil</h1>

    {{ form_start(monProfilForm) }}
{#    {{ form_widget(monProfilForm) }}#}
    {{ form_row(monProfilForm.pseudo) }}
    {{ form_row(monProfilForm.prenom) }}
    {{ form_row(monProfilForm.nom) }}
    {{ form_row(monProfilForm.telephone) }}
    {{ form_row(monProfilForm.mail) }}
    {{ form_row(monProfilForm.mdp) }}
    {{ form_row(monProfilForm.mdp2) }}
    {{ form_row(monProfilForm.getEstRattacheA) }}


    <button  class="button2">Modifier mon profil</button>
    {{ form_end(monProfilForm) }}




</div>
{% endblock %}
