{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello {{ app.user.prenom }}</h1>
    <h2>Ma sortie</h2>
    {{ form_start(modificationSortieForm) }}
    {{ form_widget(modificationSortieForm) }}
    <button type="submit">Publier</button>
    <button><a href="{{ path('main') }}">Enregistrer</a> </button>

    <button ><a href="{{ path('annuler_sortie',{id:sortie.id}) }}" >supprimer</a></button>

   {{ form_end(modificationSortieForm) }}

{% endblock %}

{% block title %}

{% endblock %}

